{
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "strict": "off",
    "react/prop-types": "off",
    "react/no-danger": "off",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  },
  "globals": {
    "document": true
  },
  "extends": ["airbnb", "plugin:prettier/recommended", "prettier/react"]
}
